@import 'styles/variaveis.scss';
@import "styles/breakpoints";

.select{
  min-height: 40px;
  width: 150px;
  border-radius: 4px;
  background-color: $grey;
  overflow: hidden;
  border: 0;


  @media (max-width: $mobile) {
    width: 100%;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 15px;
    min-height: 40px;
    gap: 14px;
    width: 100%;
    background-color: $grey;
    cursor: pointer;

    svg{
      color:$black
    }


    p {
      font-weight: 600;
      color: #4c4d5e;
      font-size: 1rem;
      font-weight: bold;
      text-align: start;
    }

    &--ativo{
      background-color: $blue;
      p{
        color: $light-grey;
      }

      svg{
        color: $light-grey;
      }
    }
  }


  &__options{
    background-color: transparent;
    list-style:none;
    flex-direction: column;
    border-top:1px solid $light-grey;
    display: none;

      li{
        cursor: pointer;
        min-height:40px;
        padding: 10px 15px ;
        width: 100%;
        text-align: start;
        pointer-events: all;
        transition: all 50ms ease-in-out ;
        border-bottom: 1px solid $light-grey;
        color: #4c4d5e;
        font-weight: bold;
        font-size: 1rem;
      }

      li:hover{
        background-color: $blue;
        color: $light-grey;
      }

      &--visible{
        display: flex;
      }
  }



}




